@import url(http://fonts.googleapis.com/css?family=Roboto:900,400,100);

body {
  padding: 15px;
  font-family: "Roboto";
  text-align: center;
}

h1 {
  font-size: 4em;
  font-weight: 900;
  margin: 0px;
  padding: 25px 0 15px 0;
}

p {
  margin: 0px;
} 

td {
  border: 1px solid #ddd;
  padding-top: 12px!important;
  padding-bottom: 12px!important;
}

.main {
  margin: 50px auto 40px;
  width: 70%;
}

.avatar {
  height: 12em;
  width: 12em;
  background: url('www.yifandai.ca/face.png')  no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-radius: 50%;
  border: 4px solid #fff;
  border-radius: 100%;
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  margin:auto;
}

.subtitle {
  font-weight: 200;
  font-size: 1.5em;
}

.profession {
  margin-top: 10px;
}

.profession a {
  color: #000;
}

.profession a:hover {
  text-decoration: none;
  color: #3f51b5;
}

.uni a {
  color: #000;
}

.uni a:hover {
  text-decoration: none;
  color: #3f51b5;
}

.social {
  max-width: 400px;
  margin: 0 auto;
  table-layout: fixed;
}

.social a {
  color:inherit;  
}

.social a:hover {
  color: #3f51b5;
  text-decoration: none;
}

.social p {
  padding-top: 6px;
  font-weight: 500;
}

.twit:before {
  content: "\f099";
}

.link:before {
  content: "\f0e1";
}

.social img {
  height: 56px;
}

.social img:hover {
  content: url('assets/devpost_hover.png');
}

@media (max-width: 520px) {
  h1 {
    font-size: 2.5em;
    padding-bottom: 20px; 
  }

  td {
    padding-top: 15px!important;
    padding-bottom: 15px!important;
  }

  .main {
    margin: 30px auto 50px;
  }

  .subtitle {
    font-size: 1.4em;
  }

  .social {
    margin-bottom: 50px;
  }

  .social p {
    padding-top: 3px;
    font-weight: 100;
  }

  .fa-4x {
    font-size: 3em;
  }

  .social img {
    height: 42px;
  }
}
